<div id="sidebar-controls" class="theme-strong flex w-full flex-col gap-4 text-sm">
  <%== partial("fragments/providers") %>
  <%== partial("fragments/models", locals: {models:}) %>
  <%== partial("fragments/themes") %>
  <%== partial("fragments/contexts", locals: {contexts:}) %>
</div>
