<div id="tools-list" class="text-sm text-zinc-300 lg:my-auto" hx-get="/tools" hx-trigger="load" hx-swap="outerHTML">
  <span class="label">Tools</span>
  <div class="py-1 text-sm font-medium text-zinc-500">Loading...</div>
</div>
